.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  font-family: 'Unica One', cursive;
  color: #CC3727;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
}
h2{
  font-family: 'Unica One', cursive;
  color: #FFFFFF;
  padding: 2%;
  text-align: left;
}
h4{
  font-family: 'Unica One', cursive;
  color: #FFFFFF;
}
p, li{
  font-family: 'Palanquin', sans-serif;
  font-size: 1.375em;
}
a{
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: #CC3727;
  text-decoration: none;
  font-weight: 300;
}
ul{
list-style-type: none;
display: inline-flex;
text-align: center;
width: 100%;
}
li{
  padding-top: 1%;
}
img{
  width: 100%;
}
.wholeAnimal{
  display: flex;
  align-content: center;
  width: 10%;
}

.Selephant{
  width: 15%;
  z-index: 3;
  position: absolute;
  bottom: 15%;
}
.ElephantInfo{
  display: none;
}
.Selephant:hover + .ElephantInfo{
  display:flex;
  flex-wrap: wrap;
  background-color: #CC3727;
  color: #FFFFFF;
  width: 10%;
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  font-size: 0.5em;
  padding: 0.5%;
  position: absolute;
  bottom: 20%;
  left: 20%;
  text-transform: uppercase;
}
.Srhino {
  width: 20%;
  z-index: 3;
  position: absolute;
  bottom: 17%;
  right: 20%;
}
.RhinoInfo{
  display: none;
}
.Srhino:hover + .RhinoInfo{
  display: flex;
  flex-wrap: wrap;
  background-color: #CC3727;
  color: #FFFFFF;
  width: 10%;
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  font-size: 0.5em;
  padding: 0.5%;
  position: absolute;
  bottom: 30%;
  right: 30%;
  text-transform: uppercase;
}
li img{
  width: 10%;
}
li img:hover{
  animation: App-logo-spin infinite 5s linear;
}

footer{
  color: #CC3727;
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  font-size: 0.7em;
  padding: 1%;
}
