.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
h1{
  font-family: 'Unica One', cursive;
  color: #CC3727;
  padding: 2%;
  text-align: center;
  text-transform: uppercase;
}
h2{
  font-family: 'Unica One', cursive;
  color: #FFFFFF;
  padding: 2%;
  text-align: left;
}
h4{
  font-family: 'Unica One', cursive;
  color: #FFFFFF;
}
p, li{
  font-family: 'Palanquin', sans-serif;
  font-size: 1.375em;
}
a{
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
a:hover {
  color: #CC3727;
  text-decoration: none;
  font-weight: 300;
}
ul{
list-style-type: none;
display: inline-flex;
text-align: center;
width: 100%;
}
li{
  padding-top: 1%;
}
img{
  width: 100%;
}
.present img{
  display: flex;
    flex-flow: column wrap;
}
.present .wholeAnimal{
  display: inlin-flex;
  flex-flow: column wrap;
  width: 20%;
  z-index: 3;
  /*align-items: baseline;
  padding: 0;
  margin: 0;*/
}
@keyframes slide {
  0% {left: 0px; top:0px;}
  25%  {left:20%; top:10%;}
}
/*.wholeAnimal div{
  display: none;
}*/
.wholeAnimal div {
  display: inline-flex;
  flex-flow: column wrap;
  align-content: space-between;
  background-color: #CC3727;
  color: #FFFFFF;
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  font-size: 0.5em;
  padding: 3%;
  text-transform: uppercase;
}
li img{
  width: 10%;
}
li img:hover{
  animation: App-logo-spin infinite 5s linear;
}

footer{
  color: #CC3727;
  font-family: 'Palanquin', sans-serif;
  font-weight: 100;
  font-size: 0.7em;
  padding: 1%;
}
